@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Black Han Sans', sans-serif;
}

.header {
     display: flex;
     justify-content: center;
     margin: 1.5rem 0;
}
.header h1{
     text-align: center;
}
.box{
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 1.5rem;
     flex-direction: column;
}

.row{
     display: flex;
     justify-content: space-between;
     gap: 1.5rem;
}

