@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Black Han Sans', sans-serif;
}

.header {
     display: flex;
     justify-content: center;
     margin: 1.5rem 0;
}
.header h1{
     text-align: center;
}
.box{
     width: calc(100vw - 10rem);
     margin: 0 auto;
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 1.5rem;
     flex-direction: column;
     box-shadow: inset 0px 1px 4px 0px rgba(0,0, 0, 0.2);
     padding: 1.2rem;
}

.row{
     display: flex;
     justify-content: space-between;
     gap: 1.5rem;
}

.btn{
     width: calc((100% / 3) - 50px);
     height: 10rem;
     border-radius: 1.5rem;
     -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
     -ms-border-radius: 1.5rem;
     -o-border-radius: 1.5rem;
     border: 1px solid #aaa;
     text-align: center;
     font-size: 1rem;
     font-weight: 500;
}

.btn:hover{
     cursor: pointer;
     background-color: rgb(210, 210, 210);
}